<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<!--<suite name="suite" parallel="none" verbose="5">-->
<!--    <test name="test">-->
<!--        <parameter name="venture" value="PK"/>-->
<!--        <classes>-->
<!--            <class name="Tests.Regression_Suit"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->